@import url("https://use.typekit.net/zdb4kbu.css");

:root {
  --white: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
h1 {
  font-family: "le-havre-rounded", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p, h2, h3 {
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: start; 
}

body {
  overflow-x: hidden;
}
.bodystuck {
  overflow-y: hidden;
}
/* start style af sectionerne */
.slides {
  height: 100vh;
  width: 100vw;
}
.logo {
  width: 15%;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.forside {
  background-image: url(../media/background/background_1b.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: var(--white);
  text-align: center;
}
h2 {
  color: var(--white);
  text-align: center;
}
h3 {
  color: var(--white);
  text-align: center;
}
p {
  color: var(--white);
}
.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.forside-button {
  font-size: 1rem;
  height: 2rem;
  width: 12rem;
  border-radius: 20px;
  border: 0px;
  margin: 3rem;
  margin-top: 6rem;
  background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
  transition: ease-out 200ms;
  text-align: center;
  padding-top: 5px;
}
.forside-button:hover {
  transform: scale(1.2);
  transition: ease-in-out 200ms;
}
/* start style af solen */
.planetContainer {
  grid-area: 1/3/2/4;
  transform: translate(-12vw, 0);
  margin-top: 5vh;
}

.info-cirkel {
  width: 30vh;
  height: auto;
  transform: translate(2vw, 0.5vh);
  z-index: 2;
}
.info-grapic {
  grid-area: 1/2/2/3;
}
.iconer {
  height: auto;
  width: 13%;

  display: flex;
}
.iconer-figure {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(8vw, -0.2vh);
}
.tid {
  transform: translate(-5.8vw, 0.2vh);
  z-index: 1;
  width: 14%;
}
.omloebstid {
  transform: translate(0, 0.9vh);
}
.temperatur {
  transform: translate(0, -0.3vh);
}
.information-icons {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.information-icons p {
  font-size: 1.35rem;
  padding: 20px;
  visibility: hidden;
}
.information-icons p.visible {
  visibility: visible;
}

.flex-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.underside-button-div {
  grid-area: 1/3/2/4;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
.underside-button {
  height: 2rem;
  width: 10rem;
  border-radius: 20px;
  border: 0px;
  background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
  transition: ease-out 200ms;
  font-size: 1rem;
  margin: 1rem;
}

.underside-button:hover {
  transform: scale(1.2);
  transition: ease-in-out 200ms;
}
.navigation-side {
  grid-area: 1/4/2/5;
  justify-self: end;
  align-self: center;
  margin-right: 2vw;
}

.navigation-side li {
  margin-left: 1rem;
}

.navigation-side a {
  color: var(--white);
  text-decoration: none;
}
.navigation-side li {
  list-style-type: disc; 
  color: var(--white);
}
.navigation-side li::marker {
  font-size: 2rem;
}
.scrolldown-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.scrolldown-outer {
  width: 2rem;
  height: 3rem;
  border: 2px solid gray;
  border-radius: 40px;
  display: flex;
  justify-content: center;
}
.scrolldown-inner {
  border-radius: 20px;
  height: 1rem;
  width: 1rem;
  background-color: gray;
  margin-top: 5px;
  transform: translate();
}
.scrolldown-box p {
  color: gray;
}

/* STYLING AF SOLEN underside */

.underside-solen {
  background-image: url(../media/background/background_2c.webp);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  transform: translate(0%);
}

.tilbage-button {
  width: 5rem;
  height: 3rem;
  border: 0;
  margin-top: 2rem;
  background-color: transparent;
  color: gray;
  font-size: 1rem;
  transform: translate(0, 1rem);
}
.tilbage-arrow {
  width: 4rem;
}

.tilbage-button-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.solens-overflade {
  height: 100vh;
  width: auto;
}
.underside-tekst-solen {
  width: 20vw;
  margin-top: 10rem;
  font-size: 1.2rem;
}

#solen {
  display: flex;
  height: 100vh;
  width: 200vw;
}
#forsideSektion {
  background-image: url(../media/background/background_2b.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.forside-sektion {
  flex: 1;
  background-image: url(../media/background/background_2b.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.underside-solen {
  flex: 1;
}

/* STYLING AF MERKUR UNDERSIDE */
#merkurSide {
  display: flex;
  height: 100vh;
  width: 200vw;

}
.merkurUnderside {
  flex: 1;
}
#merkur {
  flex: 1;
  background-image: url(../media/background/background_3b.webp);
  background-size: contain;
  width: 100vw;
  height: 100vh;
}

.merkurUnderside {
  background-image: url(../media/background/background_3c.webp);
  background-size: contain;
  height: 100vh;
  width: 100vw;
  transform: translate(0);
}

#merkurFunFact {
  text-align: center;
  transform: translate(36rem, 12rem);
  color: white;
  width: 16rem;
  font-size: 1.2rem;
}

#merkurP {
  text-align: center;
  width: 18rem;
  transform: translate(5rem, 6rem);
  color: white;
  z-index: 1;
  font-size: 1.2rem;
}

.merkur-2d {
  width: 32%;
  transform: translate(27rem, -26rem);
  z-index: 1;
}

.merkur-maskot {
  z-index: 1;
  width: 15%;
  transform: translate(40rem, -26rem);
  z-index: 1;
}

.merkur-funfact {
  width: 30%;
  transform: translate(10rem, -12rem);
  z-index: 0;
}
      
        
.merkur-maskot{
  grid-area: 1/1/2/2;
  transform: translate(70vw, -40vh);
  z-index: 2;
  height: 20vh;
  width: auto;
}
.merkur-funfact{
  grid-area: 1/1/2/2;
  height: 20vh;
  width: auto;
  opacity: 0;
transform: translate(15vw, -25vh);
}
.merkur-funfact-p{
  grid-area: 1/1/2/2;
transform: translate(61vw, -40vh);
  color: black;
}

/* style af 404 side */

.message404 {
  font-size: 2rem;
  text-align: center;
}
.button404 {
  height: 4rem;
  width: 10rem;
  border-radius: 40px;
  background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
  transform: translate(30vh, 20vh);
  text-decoration: none;
  color: black;
  text-align: center;
  border: 0;
  padding-top: 15px;
}
a {
  text-decoration: none;
  color: black;
}
.pluto-404 {
  height: auto;
  width: 300px;
}

.section404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../media/background/background_1a.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

/* style af venus */

#venusSide {
  display: flex;
  height: 100vh;
  width: 200vw;
}

.undersideVenus {
  flex: 1;
}

#venus {
  flex: 1;
  background-image: url(../media/background/background_4b.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.undersideVenus {
  background-image: url(../media/background/background_4c.webp);
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  transform: translate(0);
}

.venus-planet {
  height: 100vh;
  grid-area: 2/1/3/2;
  justify-self: center;
  transform: translate(0, 35vh);
}

.venus-underside-tekst {
  grid-area: 1/1/2/2;
  justify-self: center;
  align-self: center;
  width: 20rem;
  margin-right: 40rem;
  transform: translate(0, 20vw);
}

.venus-tilbage-button {
  grid-area: 1/1/2/2;
  justify-self: top;
}
.venus-maskot{
  grid-area: 1/1/2/2;
  transform: translate(100vw, 30vh);
  z-index: 2;
  height: 20vh;
  width: auto;
}
.venus-funfact{
  grid-area: 1/1/2/2;
  height: 20vh;
  width: auto;
  opacity: 0;
  transform: translate(68vw, 45vh);
}
.venus-funfact-p{
  grid-area: 1/1/2/2;
  transform: translate(70vw, 53vh);
  color: black;
}
/* style af undersiden jorden */
#jordenSide {
  display: flex;
  height: 100vh;
  width: 200vw;
}

.undersideJorden {
  flex: 1;
}

#jorden {
  flex: 1;
  background-image: url(../media/background/background_5b.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.undersideJorden {
  background-image: url(../media/background/background_5c.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  transform: translate(0);
}

.jorden-2d {
  height: 70vh;
  grid-area: 1/2/2/3;
  align-self: center;
  transform: translate(-15vw);
}

.jorden-underside-tekst {
  grid-area: 1/1/2/2;
  justify-self: center;
  align-self: center;
  width: 18rem;
}

.jorden-tilbage-button {
  grid-area: 1/1/2/2;
  justify-self: top;
}


.jorden-maskot{
  grid-area: 1/1/2/2;
  transform: translate(100vw, -20vh);
  z-index: 2;
  height: 20vh;
  width: auto;
}
.jorden-funfact{
  grid-area: 1/1/2/2;
  height: 20vh;
  width: auto;
  opacity: 0;
  transform: translate(75vw, 27vh);
}
.jorden-funfact-p{
  grid-area: 1/1/2/2;
  transform: translate(77vw, 34vh);
  color: black;
}

/* style af undersiden mars */

#marsSide {
  display: flex;
  height: 100vh;
  width: 200vw;
}
.undersideMars {
  flex: 1;
}
#mars {
  flex: 1;
  background-image: url(../media/background/background_6b.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.undersideMars {
  background-image: url(../media/background/background_6c.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  transform: translate(0);
}
.mars-rover {
  height: 15vh;
  grid-area: 1/2/2/3;
  justify-self: center;
  margin-top: 17vh;
}
.mars-planet-underside {
  height: 70vh;
  grid-area: 1/2/2/3;
  align-self: end;
}
.mars-underside-tekst {
  grid-area: 1/1/2/2;
  justify-self: center;
  align-self: center;
  width: 20rem;
}
.mars-tilbage-button {
  grid-area: 1/1/2/2;
  justify-self: top;
}

.Mars-maskot{
  grid-area: 1/1/2/2;
   transform: translate(5vw, 100vh);
  z-index: 2;
  height: 20vh;
  width: auto;
}
.Mars-funfact{
  grid-area: 1/1/2/2;
  height: 20vh;
  width: auto;
  opacity: 0;
  transform: translate(10vw, 65vh) rotate(180deg);


}
.Mars-funfact-p{
  grid-area: 1/1/2/2;
  transform: translate(11vw, 69vh);
  color: black;
}


/* style af jupiter */
#jupiterSide {
  display: flex;
  height: 100vh;
  width: 200vw;
}

.undersideJupiter {
  flex: 1;
}

#jupiter {
  flex: 1;
  background-image: url(../media/background/background_7b.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.undersideJupiter {
  background-image: url(../media/background/background_7c.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  transform: translate(0);
}

.jupiter-planet {
  height: 70vh;
  grid-area: 1/1/2/2;
  align-self: top;
  transform: translate(0, -20vh);
}

.jupiter-underside-tekst {
  grid-area: 1/2/2/3;
  justify-self: center;
  align-self: center;
  width: 20rem;
}

.jupiter-tilbage-button {
  grid-area: 1/1/2/2;
  margin-bottom: 4rem;
  align-self: end;
}

.jupiter-maskot{
  grid-area: 1/1/2/2;
  transform: translate(30vw, 100vh);
  z-index: 2;
  height: 20vh;
  width: auto;
}
.jupiter-funfact{
  grid-area: 1/1/2/2;
  height: 20vh;
  width: auto;
  opacity: 0;
  transform: translate(35vw, 65vh) rotate(180deg);
}
.jupiter-funfact-p{
  grid-area: 1/1/2/2;
  transform: translate(37vw, 70vh);
  color: black;
}


/* style af saturn */

#saturnSide {
  display: flex;
  height: 100vh;
  width: 200vw;
}

.undersideSaturn {
  flex: 1;
}

#saturn {
  flex: 1;
  background-image: url(../media/background/background_8b.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.undersideSaturn {
  background-image: url(../media/background/background_8c.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  transform: translate(0);
}

.saturn-ring {
  height: 100vh;
  grid-area: 1/1/2/2;
  transform: translate(-10vw);
}

.saturn-underside-tekst {
  grid-area: 1/1/2/2;
  justify-self: end;
  align-self: center;
  width: 20rem;
  margin-right: 30vw;
  margin-bottom: 30vh;
}

.saturn-tilbage-button {
  grid-area: 1/1/2/2;
  justify-self: top;
  z-index: 3;
}


.saturn-maskot{
  grid-area: 1/1/2/2;
  transform: translate(100vw, -20vh);
  z-index: 2;
  height: 20vh;
  width: auto;
}
.saturn-funfact{
  grid-area: 1/1/2/2;
  height: 20vh;
  width: auto;
  opacity: 0;
  transform: translate(75vw, 27vh);
}
.saturn-funfact-p{
  grid-area: 1/1/2/2;
  transform: translate(77vw, 34vh);
  color: black;
}
/* style af uranus */
#uranusSide {
  display: flex;
  height: 100vh;
  width: 200vw;
}

.undersideUranus {
  flex: 1;
}

#uranus {
  flex: 1;
  background-image: url(../media/background/background_9b.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.undersideUranus {
  background-image: url(../media/background/background_9c.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  transform: translate(0);
}

.uranus-planet {
  height: 80vh;
  grid-area: 1/2/2/3;
  align-self: end;
  z-index: 2;
  transform: translate(0, 10vh);
}
.uranus-ring {
  width: 80vw;
  position: absolute;
  transform: translate(20vw, 70vh);
}

.uranus-underside-tekst {
  grid-area: 1/1/2/2;
  justify-self: center;
  align-self: center;
  width: 20rem;
}

.uranus-tilbage-button {
  grid-area: 1/1/2/2;
  justify-self: top;
}

.uranus-maskot{
  grid-area: 1/1/2/2;
  transform: translate(40vw, -20vh);
  z-index: 2;
  height: 20vh;
  width: auto;
}
.uranus-funfact{
  grid-area: 1/1/2/2;
  height: 20vh;
  width: auto;
  opacity: 0;
  transform: translate(28vw, 16vh);
}
.uranus-funfact-p{
  grid-area: 1/1/2/2;
  transform: translate(30vw, 22vh);
  color: black;
}

/* style af neptun */

#neptuneSide {
  display: flex;
  height: 100vh;
  width: 200vw;
}

.undersideNeptune {
  flex: 1;
}

#neptun {
  flex: 1;
  background-image: url(../media/background/background_10b.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.undersideNeptune {
  background-image: url(../media/background/background_10b.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  transform: translate(0);
}

.neptune-planet {
  height: 80vh;
  grid-area: 1/2/2/3;
  align-self: top;
  transform: translate(-20vw, -30vh);
}

.neptune-underside-tekst {
  grid-area: 1/1/2/2;
  justify-self: start;
  align-self: end;
  margin-bottom: 15rem;
  margin-left: 10rem;
}

.neptune-tilbage-button {
  grid-area: 1/1/2/2;
  justify-self: top;
}
.neptun-maskot{
  grid-area: 1/1/2/2;
  transform: translate(100vw, 50vh);
  z-index: 2;
  height: 20vh;
  width: auto;
}
.neptun-funfact{
  grid-area: 1/1/2/2;
  height: 20vh;
  width: auto;
  opacity: 0;
  transform: translate(68vw, 65vh);
}
.neptun-funfact-p{
  grid-area: 1/1/2/2;
  transform: translate(70vw, 73vh);
  color: black;
}


/* slutside */

.slutside-h1 {
  font-size: 3rem;
  padding-top: 2rem;
}

.slutside-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slutside-button {
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: 2rem;
  width: 14rem;
  border-radius: 20px;
  border: 0px;
  margin: 3rem;
  margin-top: 6rem;
  background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
  transition: ease-out 200ms;
  text-align: center;
  padding-top: 5px;
}

.slutside-button:hover {
  transform: scale(1.2);
  transition: ease-in-out 200ms;
}

.slutside-section {

  background-image: url(../media/slutside-billede.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.slutside{
  background-image: url(../media/background/background_11b.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.slutside-billede {
  width: 100%;
  margin-top: -26.7rem;
}
